%% -*- mode: erlang -*-
%% ex: ft=erlang ts=2 sw=2 et

[
 {lager, 
  [
   {async, true},
   {handlers, 
    [
     {lager_console_backend,
      [debug, {lager_default_formatter, 
               [time, " ", color, "[", severity,"] ",pid," ",
                {application, ["(",application,") "],""},
                {module,[module,":",line," "],""},"| ",message, "\r\n"]}]}
    ]}
  ]},
 {sasl, 
  [
   {sasl_error_logger, false}
  ]},
 {exometer,
  [
   {report, 
    [
     {subscribers, 
      [
       {exometer_report_tty, 
        {select, [{'_',[],['$_']}]}, value, 10000, true}
      ]},
     {reporters, 
      [
       {exometer_report_tty, []}
      ]}
    ]}
  ]},
 {sync, 
  [
   % {log, none}
  ]}
].
